body {
    background: url("../images/photo_bg.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
    color: black;
}


h1#title {
    font-family: 'Roboto Slab', "Segoe Script";
    font-weight: 300;
    font-size: 3.2em;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    margin: 0 auto;
    margin-left: 40px;
    padding-top: 30px;
    max-width: 90%;
    text-align: left;
    position: relative;
    display: inline-flex;

}



#sos, #sos th,#sos td {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: left;
    margin: 0 auto;
    width: 32%;
    background-color: #ff7300;
    opacity: 0.87;
    border: 1px solid #ff0e00;
    padding-right: 100%;


}

#customers , #customers1 ,#customers2{

    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: #ff7300;
    opacity: 0.91;
}




#customers td, #customers th ,#customers1 td,#customers1 th  {
    border-bottom: 1px solid #ff0e00;
    text-align: left;

    padding: 8px;

    text-align: center;
    margin: 0 auto;

}

#customers td.rozmiar {
    text-align: right ;
}

#customers2 #customers2 th, #customers2 td, #customers2 tr {
    border: 1px solid #ff0e00;
    text-align: left;

    padding: 8px;
}


#customers tr:hover , #sos td:hover  ,#customers1 td:hover ,#customers2 td:hover, #flip:hover{background-color: #fbfcfd;}

#customers th,#customers2 th, #sos th , #customers1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ff3a0b;
    color: white;

}

.deletebutton{
     background-color: red;
     font-size: 17px;
     width: auto;

 }

.button , .compbutton{
    background-color: #ff3a0b;
    font-size: 17px;
    width: 200px;


}

.button , .compbutton ,.deletebutton{
    position: relative;
    border: none;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}


.deletebutton:after{
    background: #ff3a0b;
}

.button:after  , .compbutton:after{
    background: #ff0e00;
}


.button:after  , .compbutton:after , .deletebutton:after{
    content: "";
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button:active:after, .compbutton:active:after, .deletebutton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

input[type=number] {
    float: left;
    autofocus : "";
    font-family: Lato;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    color: #bd310b;
    border: 2px #bd310b solid;
    background: none;

}
.pizzas_menu {
    margin-top: 20px;
    position: relative;
}

select{
    float: left;
    autofocus : "";
    font-family: Lato;
    font-weight: 700;
    font-size: 1.2em;
    text-align: center;
    color: #bd310b;
    border: 2px #bd310b solid;
    background: none;
}

#panel, #flip {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: white;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    border-collapse: collapse;
    padding: 5px;
    border: 2px #bd310b solid;
    text-align: center;

    border: solid 1px #ff3a0b;
    background-color: #ff7300;

    filter: alpha(opacity=70);
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=70);
    -moz-opacity: 0.70;
    opacity: 0.9;
    zoom: 1;
}

#panel {
    background: none;
    padding: 50px;
    display: none;
}
.pizzas_menu_footer{
    background-color: #ff7300;
    border: solid 1px #ff3a0b;
}
/*---------------------------------------------------------------------------*/


.dropbtn {

    margin: 0;
    list-style: none;
    display: block;
    font-family: Capriola, Helvetica, sans-serif;
    padding: 24px 30px 20px 30px;
    margin-bottom: 2px;
    margin-right: 40px;
    margin-top: 30px;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #eeeeee;
    background: #fd5234;
    background: -moz-linear-gradient(top, #ff7300 0%, #fd5234 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff7300), color-stop(100%, #fd5234));
    background: -webkit-linear-gradient(top, #ff7300 0%, #fd5234 100%);
    background: -o-linear-gradient(top, #ff7300 0%, #fd5234 100%);
    background: -ms-linear-gradient(top, #ff7300 0%, #fd5234 100%);
    background: linear-gradient(to bottom, #ff7300 0%, #fd5234 100%);
    font-size: 15px;
    text-decoration: none;
    z-index: 4;
    cursor: pointer;
}

.dropdown {
    float:right;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    z-index: 4;
    float: left;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cart {

    color: black;

    text-decoration: none;
    display: inline-block;
}

.cart:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    z-index: 4;
    display: block;
    margin-right: 45px;
    max-height: 400px;
    overflow: scroll;
    padding: 30px 30px 20px 30px;
}

.dropdown:hover .dropbtn {
    z-index: 4;

    background: #ff5234;
    background: -moz-linear-gradient(top, #ff5234 0%, #ff2e00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff5234), color-stop(100%, #ff2e00));
    background: -webkit-linear-gradient(top, #ff5234 0%, #ff2e00 100%);
    background: -o-linear-gradient(top, #ff5234 0%, #ff2e00 100%);
    background: -ms-linear-gradient(top, #ff5234  0%, #ff2e00 100%);
    background: linear-gradient(to bottom, #ff5234  0%, #ff2e00 100%);
}


.ddd , .top {
    display:inline;
}


